name: Deploy to Altervista

on:
  push:
    branches: [main]  # o altro branch deploy

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          local-dir: ./
          server-dir: /public_html/
          exclude: |
            **/.git*
            **/.github*
            **/.env.dev
            **/node_modules/**
            **/tests/**
